.skipButton {
  border: 1px solid #008350;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.46px;
  color: #008350;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
