.jumbotron {
  background-image: url("/carbackground.svg");
  background-size: cover;
  background-position: center;
  padding: 50px;
  text-align: center;
  position: relative;
  z-index: 1;
  /* Set the background color and blend mode */
  background-color: #d9d9d9; /* Change the color and opacity as needed */
  background-blend-mode: luminosity; /* Adjust the blend mode as desired */
  min-height: 300px;
  @media (max-width: 767px) {
    display: none;
  }
}

.card {
  background: #ececec;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  width: 100vw;
  z-index: 2;
  text-align: center;
  margin-bottom: 20px;
  .carImage {
    @media (max-width: 767px) {
      width: 350px;
    }
  }
  .focusedText {
    color: #008350;
    text-decoration: none;
  }
  .privacyPolicy {
    padding: 20px;
  }
  h1 {
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    text-align: center;
    letter-spacing: 0.15px;
    color: #222222;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    text-align: center;
    color: #222222;
    margin-top: 10px;
  }
  .category {
    .childCard {
      background: #ffffff;
      border-radius: 12px;
      height: 95px;
      margin-top: -20px;
      cursor: pointer;
      filter: drop-shadow(0px -8px 16px rgba(0, 0, 0, 0.15));
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 30px;
      transition: 0.2s;
      transform: translateY(0rem);
      span {
        background: #1976d2;
        border-radius: 64px;
        color: #ffffff;
        padding: 3.5px 6.5px;
        font-size: 12px;
      }
      &:hover {
        transform: translateY(-1.5rem);
      }
      &:hover ~ .childCard {
        transform: translateY(0.5rem);
      }
    }
    &:not(:first-child) {
      margin-top: 40px;
    }
  }
  @media (min-width: 767px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    width: 80%;
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
 
  }
}

